<ul class="nav nav-pills nav-stacked">
   <li><%= link_to 'RANK', rank_path %></li>
   <li><%= link_to 'PLAYERS', players_path %></li>
   <li><%= link_to 'MATCHES', matches_path %></li>
   <li><%= link_to 'LOGOUT', destroy_user_session_path ,:method => :delete%></li>
</ul>