    <table class="table">
      <thead>
        <tr>
          <th>Position</th>
          <th>Player</th>
          <th>Points</th>
          <th>Prev</th>
        </tr>
      </thead>

      <tbody>
        <% @chart.each do |k,v| %>
          <tr>
            <td><%= v[:curr_position] %>
            <td><%= v[:f_name] %> <%= v[:l_name] %></td>
            <td><%= v[:sum] %></td>
            <td><%= v[:prev_position] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>