<div class="main-header add_padd">
	<div class="header">
		  		<small> Project k.dro </small><br>
	  		<h1>ONLINE FOOSBALL TRACKER</h1>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-8">
			<div class="page-header header">
		  		<h3>LAST MATCHES</h3>
			</div>
			<div class="table-responsive">
		    <table class="" cellspacing="0" cellpadding="0" width="100%">
		      <tbody id="search_table">
		        <%= render "home/last_matches" %>
		      </tbody>
		    </table>
		    </div>
		</div>
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="page-header header">
		  		<h3>TABLE</h3>
			</div>
			<%= render "home/rank_table" %>
		</div>
		<div class="clear"></div>
	</div>
		<div class="player-slider">
			<%= render "home/player_owl" %>
		</div>
</div>

<script>
$(document).ready(function() {
 
  $("#owl-custom").owlCarousel({
 
      autoPlay: 3000,
      navigation: true,
      autoWidth: true,
	  responsive: true, 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
</script>