        <% @matches.each do |match| %>
            <tr>
                <td class="t-center" id="player_date" colspan="5"><%= match.day %></td>
            </tr>
            <tr>                
                <td class="t-right" id="player">
                    <div><%= Player.find(match.player1_id).f_name %> </div><div><%= Player.find(match.player1_id).l_name %></div>
                    <div><%= match.player1_res %></div>
                </td>
                <td class="t-center star"><%= match.winner_id == match.player1_id ? " ★ " : ""%></td>
                <td class="t-center" id="player_vs"> VS </td>
                <td class="t-center star"><%= match.winner_id == match.player2_id ? " ★ " : ""%></td>
                <td class="t-left" id="player">
                    <div><%= Player.find(match.player2_id).f_name %> </div><div><%= Player.find(match.player2_id).l_name %></div>
                    <div><%= match.player2_res %></div>
                </td>
                </tr>
        <% end %>
