<div id="owl-custom">
	<% @players.each do |p| %>       
  		<div class="item">
  		<%= link_to show_player_path(p) do %>
  			<%= p.avatar.present? ? image_tag(p.avatar.thumb) : image_tag("def.jpeg", class: "owl_img")%>
  			<div class="t-center"><%= p.f_name%> <%=p.l_name%></div>
  			<%end%>
  		</div> 
  		<% end %>
</div>