    <table class="rank_tab" cellspacing="0" cellpadding="0" width="100%">
      <thead>
        <tr>
          <th class="t-center player"> # </th>
          <th>PLAYER</th>
          <th></th>
          <th>POINTS</th>
        </tr>
      </thead>

      <tbody>
        <% @chart.each do |k,v| %>
          <tr>
          <td class="t-center rank_tab2"><%= v[:curr_position]  %>
            <td class="t-center player rank_tab3"><%= v[:f_name] %> <%= v[:l_name] %> </td>
            <td class=" rank_tab4">
              <%  if v[:curr_position] < v[:prev_position] %>
                <div class="arrow_position up"><%=  "▲" %> </div>
              <% elsif v[:curr_position] > v[:prev_position] && v[:prev_position] != -1 %>
                <div class="arrow_position down"><%= "▼" %></div>
              <% else%>
                <div><%= "■" %></div>
              <% end %>
            </td>
            <td class="t-center rank_tab2"><%= v[:sum] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
