<div class="main-panel add_margin">
	<div class="content_player add_padd">
		<div class="row">
			<div class="col-xs-6 col-md-4 col-lg-3 round_av "><%=  @player.avatar.present? ? image_tag( @player.avatar.thumb) : image_tag("def.jpeg", class: "owl_img")%></div>
		  <% if  @player.points.exists? %>
		  	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
		  		<div class="page-header add_margin with_star">
  					<h1><%= @player.f_name.upcase %> <%= @player.l_name.upcase %> <small>PLAYER FROM <%= @player.created_at.strftime("%B %d, %Y") %></small></h1>
  					<div class="leader"><%= @pos == 1 ? "♛" : "" %></div>
				</div>
		  	</div>
		</div>
		<div class="row add_margin add_margin_lr">
  			<div class="col-xs-6 pos_rank" style="font-size: 90px">#<%= @pos %></div>
  			<div class="col-xs-6 ">
  				<div class="panel panel-default">
				  <div class="panel-heading">LAST MATCH : 
				  <%= @player.last_match.winner_id == @player.id ? "WIN" : "LOSS" %>
				  </div>
				  <div class="panel-body table-responsive">
				    <table class="table">
			  			<tr>
	        				<td class="t-center" id="" colspan="3"><%= @player.last_match.day %></td>
	    				</tr>
	            		<tr>                
	                		<td class="t-center" id="player">
	                    		<div><%= Player.find(@player.last_match.player1_id).f_name %> <%= Player.find(@player.last_match.player1_id).l_name %></div>
	                   			<div><%= @player.last_match.player1_res %></div>
	                		</td>
	                		<td class="t-center" id=""> VS </td>
	                		<td class="t-center" id="player">
	                    		<div><%= Player.find(@player.last_match.player2_id).f_name %> <%= Player.find(@player.last_match.player2_id).l_name %></div>
	                    		<div><%= @player.last_match.player2_res %></div>
	                		</td>
						</tr>
					</table>
				  </div>
				</div>
  			</div>
		</div>
		<div class="row add_margin add_margin_lr">
			<div class="col-xs-3 ">
  				<div class="panel panel-default">
				  <div class="panel-body">
				    <%= @pts%>
				  </div>
				  <div class="panel-footer">POINTS</div>
				</div>
  			</div>
  			<div class="col-xs-3 ">
  				<div class="panel panel-default">
				  <div class="panel-body">
				    <%= @player.wins %>
				  </div>
				  <div class="panel-footer">WINS</div>
				</div>
  			</div>
  			<div class="col-xs-3">
  				<div class="panel panel-default">
				  <div class="panel-body">
				    <%= @player.losses %>
				  </div>
				  <div class="panel-footer">LOSSES </div>
				</div>
  			</div>
  			<div class="col-xs-3 ">
  				<div class="panel panel-default">
				  <div class="panel-body">
				    <%= @player.all_matches.count %>
				  </div>
				  <div class="panel-footer">ALL MATCHES</div>
  				</div>
			</div>
		</div>
		<div class="row add_margin add_margin_lr">
  			<div class="col-xs-3 "></div>
  			<div class="col-xs-6 add_margin_lr"></div>
  			<div class="col-xs-3 "></div>
		</div>
		<% else %>
		<div class="row add_margin_lr">
	  		<div class="col-xs-12 t-center"> 
	  		BRAK DANYCH
	  		</div>
		</div>
		<%end%>
		<div class="col-xs-12 t-center">
  				<%= link_to "BACK", root_url%>
  			</div>
	</div>
</div>