<div class="row">
  <div class="col-sm-2 col-md-4 col-lg-5">&nbsp;</div>
  <div class="col-sm-8 col-md-4 col-lg-2 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">LOG IN</div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-sm-2 col-md-4 col-lg-5"></div>
  </div>