<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'First name' %><br>
    <%= f.text_field :f_name %>
  </div>
  <div class="field">
    <%= f.label 'Last name' %><br>
    <%= f.text_field :l_name %>
  </div>

  <% if @player.avatar.present?%>
      <%= image_tag @player.avatar.thumb %>
    <%end%>
  <div class="field">
    <%= f.label 'Photo' %><br>
    <%= f.file_field :avatar %>
  </div>
    <div class="actions">
    <% if action_name == 'edit' || request.method == "POST"%>
      <%= f.submit 'UPDATE', :class => 'btn btn-success' %>
    <% elsif action_name == 'new'%>
      <%= f.submit 'ADD', :class => 'btn btn-success' %>
    <% end %>
    <%= link_to 'CALNCEL', players_path, :class => "btn btn-warning" %>
  </div>
<% end %>
