<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">PLAYERS
  </div>
  <div class="panel-body">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>First name</th>
          <th>Last name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.avatar.present? ? image_tag(player.avatar.thumb) : image_tag("def.jpeg", class: "list_img")%></td>
            <td><%= player.f_name %></td>
            <td><%= player.l_name %></td>
            <td><%= link_to 'Statistics', player_stats_players_path(player) %></td>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
      <div><%= will_paginate @players %></div><br>
<%= link_to 'Add new player', new_player_path, :class => "btn btn-info" %>