<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Stats for player: <%= @player.name_with_initial %>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Points</th>
          <th>All Matches</th>
          <th>Victory</th>
          <th>Defeat</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><%= @player.sum_value %></td>
            <td><%= @player.all_matches.count %></td>
            <td><%= @player.wins %></td>
            <td><%= @player.losses %></td>
          </tr>
      </tbody>
    </table>
    <h5> MATCHES </h5>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Player 1</th>
          <th></th>
          <th>  </th>
          <th></th>
          <th>Player 2</th>
          <th> VICTORY or DEFEAT </th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each do |match| %>
        <tr>
            <td><%= match.day %></td>
            <td><%= Player.find(match.player1_id).name_with_initial %></td>
            <td><%= match.player1_res %></td>
            <td> : </td>
            <td><%= match.player2_res %></td>
            <td><%= Player.find(match.player2_id).name_with_initial %></td>
            <td> <%= match.winner_id == @player.id ? "VICTORY" : "DEFEAT" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>