<%= form_for(@match) do |f| %>

  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field date">
    <label>Data</label>
    <%= f.datetime_select :date %>
  </div>

  <div class="create-match">
    <div class="hosts"> 
      <div class="field team">
        <label>Player_1</label>
        <%= f.collection_select(:player1_id, @players_list, :id, :name_with_initial) %>
      </div>

      <div class="field result">
        <label>Points</label>
        <%= f.text_field :player1_res, :placeholder => "-" %>
      </div>
    </div>

    <div class="versus">vs</div>

    <div class="guests">        
      <div class="field team">
        <label>Player_2</label>
        <%= f.collection_select(:player2_id, @players_list, :id, :name_with_initial) %>
      </div>
      <div class="field result">
        <label>Points</label>
        <%= f.text_field :player2_res, :placeholder => "-" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <% if action_name == 'edit' || request.method == "POST"%>
      <%= f.submit 'UPDATE', :class => 'btn btn-success' %>
    <% elsif action_name == 'new'%>
      <%= f.submit 'ADD', :class => 'btn btn-success' %>
    <% end %>
    <%= link_to 'CALNCEL', matches_path, :class => "btn btn-warning" %>
  </div>
  
<% end %>


