
        <% @matches.each do |match| %>
          <tr>
            <td><%= match.day %></td>
            <td><%= Player.find(match.player1_id).name_with_initial %></td>
            <td><%= match.player1_res %></td>
            <td> : </td>
            <td><%= match.player2_res %></td>
            <td><%= Player.find(match.player2_id).name_with_initial %></td>
            <td><%= link_to 'Edit', edit_match_path(match) %></td>
            <td><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
