<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">MATECHS
  </div>
  <div class="panel-body">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th><%= select_tag "player1_id", options_for_select(@players.collect{ |u| [u.name_with_initial, u.id] }), include_blank: "Player1", :id => "player1_id" %></th>
          <th></th>
          <th>  </th>
          <th></th>
          <th><%= select_tag "player2_id", options_for_select(@players.collect{ |u| [u.name_with_initial, u.id] }), include_blank: "Player2", :id => "player2_id" %></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody id="search_table">
        <%= render "matches/table" %>
      </tbody>
    </table>
  </div>
  </div>
</div>
<div><%= will_paginate @matches %></div><br>
<%= link_to 'Add new match', new_match_path, :class => "btn btn-info"  %>


<script>
    $('#player1_id').change(function(){
      var p1 = $("#player1_id").val();
      var p2 = $("#player2_id").val();
      $.ajax({
            type: 'GET',
            url: '/matches/search',
            data: { player1_id: p1, player2_id: p2 }
        });
    });
    $('#player2_id').change(function(){
      var p1 = $("#player1_id").val();
      var p2 = $("#player2_id").val();
      $.ajax({
            type: 'GET',
            url: '/matches/search',
            data: { player1_id: p1, player2_id: p2 }
        });
    });
</script>