$margin: 0.5%;
$margin2: 4%;
$color_my: #4d413d;
$trans: 0.5;

.create-match {
  padding: 30px;
  display: in;
  width: 600px;
  text-align: center;
  color: #131313;
  margin: 10px 0;
  .hosts {
    text-align:   center;
    display:  inline-block; 
    vertical-align: top;
    width:  170px;
  }
  .versus {
    text-align: center;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    margin-top: 33px;
    font-weight: bold;
    font-size: 18px;
  }
  .guests {
    width:  170px;
    display:  inline-block; 
    vertical-align: top;  
    text-align:   center;
  }
  select {
    text-align:   center;
    height:   50px;
    line-height:  50px;
    font-size:  16px;
  }
  label {
    text-transform:   uppercase; 
    font-weight:  bold;
    font-size:  12px;
    margin-bottom:  7px;
  }
  .field {
    display: inline-block;
    vertical-align: top;
    &.team {
      margin-bottom:  20px;
    }
    &.result {
      margin-bottom:  0px;
      input[type="text"] {
        width: 30px;
        text-align:   center;
        height:   50px;
        line-height:  50px;
        font-size:  20px;
      }
    }
  }
}



.main-slide{
  position: relative;

  background-size: cover;
  background-position: center;
}

.navigation{
  background-color: rgba($color_my,$trans);
  height: 60px;
  width: 100vh-(2*$margin);
  margin-left: $margin;
  margin-right: $margin;
}

.blog{
  vertical-align: top;
  float:left;
  background-color: rgba($color_my,$trans);
  width: 50%; 
  height: 900px;
  margin-top: 10px;
  margin-left: $margin;
  margin-right: $margin;

}

.srut{
  text-decoration: none;
}

.left-div{
  vertical-align: top;
  float:left;
  width: 48.45%;  
  height: 890px;
  margin-top: 10px;
  margin-right: $margin;
  margin-bottom: 10px;
}

.insta{
  background-color: rgba($color_my,$trans);
  height: 30%;
  display: table;
}

.about{
  background-color: rgba($color_my, $trans);
  margin-top: 10px;
  height: 70%;
}

.clear{
  clear:  both;
}

.list_img{
    width: 100px;
    height: 100px;
}