$color_my2: #105610;

$trans: 0.3;

html{  
	min-height: 100vh;
}

body{
	font-family: 'PT Sans Caption', sans-serif;
	background: #d4dcdf url('back.jpg') no-repeat left bottom;
  	background-size: cover;
  	max-height: 100%;
}

.main-panel{
  position: relative;
}

.content{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(243, 235, 235, 0.73);
  padding: 20px;
}

.last-match{
  float: left;
  width: 65%;
  margin-right: 5%;
}

.table_custom{
	float: left;
	width: 30%;	
}

.clear{
	clear: both;
}

.t-center{
	text-align: center;
}

.t-left{
	text-align: left;
	width: 35%;
}

.t-right{
	text-align: right;
	width: 35%;
}


#owl-custom .item{
  margin: 3px;
	a {
		text-decoration: none;
	    color: #000000;
	}
	a:hover {
		text-decoration: underline;
	    color: #000000;
	}
}
#owl-custom .item img{
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%
}

.owl_img{
    width: 200px;
    height: 200px;
}

.player-slider{
	margin: 2%;
}

.header{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

#player, .player{
	padding: 15px;
}

#player_vs{
	background-color: rgba(19, 23, 19, 0.3);
}

#player_date{
	background-color: rgba(19, 23, 19, 0.3);
	padding: 15px;
}

.star{
	font-size: 30px;
	color: black;
}

.rank_tab{
	border-color: black;
	border: 3px solid;
}

.rank_tab2{
	border-color: black;
	border-top: 3px solid;
}
.rank_tab3{
	border-color: black;
	border-left: 3px solid;
	border-top: 3px solid;
}

.rank_tab4{
	border-color: black;
	border-right: 3px solid;
	border-top: 3px solid;
}

.content_player{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(#fff,0.95);
}


.round_av{
	img{
	  display: block;
	  width: 150px;
	  height: 150px;
	  border-radius: 50%;
	  margin-left: 35%;
	}
}

.add_margin{
	margin-top: 50px;
	margin-bottom: 50px;
}


.add_margin_lr{
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}

.leader{
	position: absolute;
	top: -32px;
	right: 20px;
	font-size: 70px;
	color: orange;
}

.with_star{
	position: relative;
	padding-right: 80px;
	padding-left: 50px;
}

.pos_rank{
	top: 30px;
	right: 0px;
}

.add_padd{
	padding-top: 50px;
	padding-bottom: 50px;
}

.arrow_position{
	&.up{
		color: green;
	}
	&.down{
		color: red;
	}
	text-align: left;
}

.main-header{
		color: white;
	margin-top: 0px;
	margin-bottom: 50px;
	background-color: rgba($color_my2,0.7);
}