<!DOCTYPE html>
<html>
<head>
  <title>Online Foosball Tracker</title>
  <%= stylesheet_link_tag    'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'owl.theme', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'owl.transitions', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>




   <%= yield %>
</body>
