<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel - Online Foosball Tracker</title>
  <%= stylesheet_link_tag    'panel', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>

<body>



<div class="jumbotron">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><h3>ADMIN PANEL <br> ONLINE FOOSBALL TRACKER</h3></h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-2"><%= render 'admin/navbar' %></div>
      <div class="col-xs-10"><%= yield %></div>
      </div>
    </div>
  </div>
</div>


</body>
